body {
  margin: 0;
  padding: 0;
  background: #fff;
  font: 14px/1.43 Arial, sans-serif;
  color: @color-text;
}

a {
  color: #609fcf;
  text-decoration: none;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:focus {
    outline: none;
    color: #c00;
  }
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}