@import "./../../less/variables.less";

.navbar {

    display: none;

    &__content {
        display: flex;
        align-items: center;
        height: 40px;
        font: 14px/20px Arial;
    }

    &__fill {
        flex-grow: 1;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: inline-block;
        margin-left: 20px;
    }

    @media @screen-gt-s {
        display: block;
        height: 40px;
    }

}